.card_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.4rem;
  height: 45vh;
}

.card_info {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

@media screen and (min-width: 550px) {
  .card_container {
    box-shadow: rgba(42, 223, 168, 0.596) 0px 1px 3px,
      rgba(14, 169, 216, 0.678) 0px 1px 2px;
  }
  .icons {
    size: 2rem;
  }
}
