.main {
  transition: 0.5s;
}

.sections {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
}

.hero_section {
  background-color: skyblue;
}

.features_section {
  background-color: seashell;
  padding: 2rem;
}

.download_section {
  background-color: springgreen;
}

.downloadBtn {
  z-index: 1;
  position: relative;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background-color: black;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 2px;
}

.downloadBtn:hover {
  filter: grayscale(0%) opacity(1) hue-rotate(0);
  animation-name: inversion-alpha;
  animation-name: inversion-alpha;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

@keyframes inversion-alpha {
  from {
    filter: hue-rotate(0deg) invert(0);
  }
  to {
    filter: hue-rotate(180deg) invert(1);
  }
}

@media screen and (min-width: 550px) {
  .features_section {
    flex-direction: row;
    gap: 2rem;
  }
}
